page-home {
/*    .bg{
                background-color: #CCC;
                background-position: center;
    background-color: #CCC;
    transform: rotate(-270deg);
    background-size: 800px 600px;
                background-image: url("../..//assets/imgs/bg.jpg")

    }*/
   
}
